<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Dashboard</title>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
		/>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="{% static 'cfg/navbar.css' %}" />
		<link rel="stylesheet" href="{% static 'cfg/tiles.css' %}" />
	</head>

	<body>
		<div class="main-container">
			<nav class="navbar navbar-light bg-light" >
					<div class="side-drawer">
						<div class="hamburger-menu">
							<div class="line line-1"></div>
							<div class="line line-2"></div>
							<div class="line line-3"></div>
						</div>
	
						<ul class="nav-list">
							<li class="nav-item">
								<a href="/" class="nav-link" id="Home">Home</a>
							</li>
							<li class="nav-item">
								<a href="/logout" class="nav-link" id="Logout">Logout</a>
							</li>
						</ul>
					</div>
					<!-- <div class="heading">
						Programmer Dashboard
					</div> -->
			</nav>
	
			<h3 style="text-align:center;padding:30px;">Program Manager Dashboard</h3>
			<div class="wrapper">
				<div class="container row">
					<div class="tile tile-quadi col-lg-3">
						<figure
							style="
								background-image: url('https://wallpaperaccess.com/full/271963.jpg');
							"
						></figure>
						<a href="mentordetails" class="color-blue">
							<div>
								<h3>Mentors</h3>
							</div>
						</a>
					</div>
	
					<div class="tile tile-quadi col-lg-3">
						<figure
							style="
								background-image: url('https://wallpaperaccess.com/full/272153.jpg');
							"
						></figure>
						<a href="studentdetails" class="color-red">
							<div>
								<h3>Students</h3>
							</div>
						</a>
					</div>

					<div class="tile tile-quadi col-lg-3">
						<figure
							style="
								background-image: url('https://images.unsplash.com/photo-1439300807642-1d369f8431fc?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=68cf5b813ba8f12dd333aad4fed7bf5f&auto=format&fit=crop&w=500&q=60');
							"
						></figure>
						<a href="programmanager_assignment" class="color-yellow">
							<div>
								<h3>Assignment</h3>
							</div>
						</a>
					</div>
	
					<div class="tile tile-quadi col-lg-3">
						<figure
							style="
								background-image: url('https://wallpaperaccess.com/full/271965.jpg');
							"
						></figure>
						<a href="programmanagersessions" class="color-green">
							<div>
								<h3>Schedule Sessions</h3>
							</div>
						</a>
					</div>
	
					<div class="calender col-lg-12">
						<iframe class="cal" src="https://calendar.google.com/calendar/embed?height=400&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=Asia%2FKolkata&amp;src=cm5rbjFkNGZuZm1zamZicDRvcnQ5N3FrMDhAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23795548&amp;showTitle=1&amp;showPrint=0&amp;showTabs=1&amp;showCalendars=1&amp;showTz=0&amp;title=cfg-laali" style="border:solid 1px #777" width="800" height="400" frameborder="0" scrolling="no" ></iframe>
					</div>
					
				</div>
			</div>
	
		</div>
		<br><br><br>
		<script src="{% static 'cfg/navbarjs.js' %}"></script>
	</body>
</html>
