<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignments</title>
    <link rel="stylesheet" href="{% static 'cfg/mentordetailsstyle.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="about-section">
        <h1>Assignments</h1>
        <p>Catch up on your pending Assignments and check your grades on the submitted ones!!</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <h2 style="text-align: center; padding: 15px;">Assignments TODO</h2>
                    <img src="{% static 'cfg/images/todo.jpg' %}" width="175px" height="175px">
                    <div class="container">
                        <p>Some text that describes the assignment.</p>
                        <p><button class="button" onclick="">Submit Assignment</button></p>         
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <h2 style="text-align: center; padding: 15px;">Assignments Completed</h2>
                    <img src="{% static 'cfg/images/completed.jpg' %}" width="200px" height="200px">
                    <div class="container">
                        <p>Some text that describes the assignment.</p>
                        <p>mike@example.com</p>
                        <p><button class="button">Grade Received: A+</button></p>         
                    </div>
                </div>
            </div>
    </div>
    </div>
   
</body>
</html>